@media {
    max-width: 800px;
}
@font-face {
    font-family: Headache;
    src: url("../Headache-Font-OTF/Headache-Font-OTF.otf") format("opentype");
}
@font-face {
    font-family: Potra;
    src: url("../Potra/Potra.otf") format("opentype");
}
@font-face {
    font-family: Manrope;
    src: url("../manrope/regular.otf") format("opentype");
}
@font-face {
    font-family: Carrinady;
    src: url("../carrinady/Carrinady.otf") format("opentype");
}
body{
    background-color: #040B13;
    background-image: url("../IMAGES/Banners/Banner\(Blur\).jpeg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

* {
    margin: 0;
    padding: 0;
}
header {
    padding-top: 5px;
    background-color: rgba(0, 0 , 0, 0.7);
    position: fixed;
    width: 100%;
}
header #Logo {
    text-align: center;
    font-family: Headache;
    color: lavender;
    letter-spacing: 3px;
    width: 100%;
}
header > #menu {
    text-decoration: none;
    color: lavender;
    list-style-type: none;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
    width: 100%;
}
header #menu li {
    margin: 5px;
    font-size: 1.2rem;
    font-family: Potra;
}
header #menu li:hover {
    color: lavenderblush;
}

section {
    height: 100vh;
    text-align: center;
    color: lavender;
}

/* Main */

section#main h1 {
    position: relative;
    font-family: carrinady;
    font-size: 4rem;
    top: 11%;
}
section#main .content {
    position: relative;
    top: 11%;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 1.1rem;
    font-family: manrope;
}



section#main .content ol li {
    list-style-type: none;
}

/* History */
section#history{
    height: 200vh;
}
section#history h1 {
    position: relative;
    font-family: carrinady;
    font-size: 4rem;
    top: 7%;
} 
section#history .content {
    position: relative;
    top: 11%;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 1.1rem;
    font-family: manrope;
}

section#history ol {
    list-style-type: none;
}

/* Working */

section#working {
    height: 150vh;
}
section#working h1 {
    position: relative;
    top: 7%;
    font-family: carrinady;
    font-size: 4rem;
}
section#working .content {
    position: relative;
    top: 11%;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 1.1rem;
    font-family: manrope;
}
section#working ol {
    list-style-type: none;
}